.container {
  width: 100%;
  padding: 70px 0px 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin: 30px;
}

.heading {
  position: relative;
  font-weight: 600;
  font-size: 80px;
}

.info {
  display: inline-flex;
  width: 50%;
}

.info p {
  display: flex;
  text-align: center;
  font-size: 25px;
  margin: 30px;
  color: #333333;
}

.info img {
  align-items: center;
  height: 200px;
  width: 300px;
  margin: 5px;
  margin-top: 15px;
  border-radius: 50%;
  background-color: blue;
}

.container a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  text-align: center;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  text-transform: uppercase;
  width: 200px;
  color: #0087ca;
  position: relative;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border: 3px solid #0087ca;
  transition: transform 450ms;
}

.buttons {
  margin: 30px;
}

.btn:hover {
  background: #0087ca;
  color: white;
  transform: scale(1.08);
}

/* Media queries */

@media only screen and (max-width: 1014px) {
  .info {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
  }

  .info img {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 41px;
  }

  .info p {
    display: grid;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 30px;
    color: #333333;
  }

  .info img {
    align-items: center;
    height: 150px;
    width: 150px;
  }

  .buttons {
    display: grid;
    margin: 50px;
  }
}
